<html>
  <head>
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <style>
    .grid-image {
      padding: 10px;
    }

    .no-gutters {
      margin-right: 0;
      margin-left: 0;
    }

    .container-fluid {
      padding: 0;
      margin: 0;
    }

    .col-lg-4 {
      padding: 0;
    }

    .row {
      margin: 0;
    }

    .sidebar {
      background-image:url('/images/pattern/prism.png');
      height: 100vh;
      position: fixed;
      width: 50%;
      right: 0;
      top: 0;
      color: white;
      overflow: scroll;
    }

    .left-container {
      background-image:url('/images/pattern/qbkls.png');
    }

    .sidebar-wraper {
      padding-top: 58px;
    }

    .button-wraper {
      display: flex;
      justify-content: center;
      margin-top: 25px;
    }
  </style>
  </head>
  <body>
  <script>
    window.maxStockScreenshots = "<%= stock_screenshots %>";
    window.preparedScreenshots = "<%= prepared_screenshoots %>";
  </script>
    <nav class="navbar navbar-expand-lg  justify-content-between navbar-light bg-light">
      <a class="navbar-brand" href="#">MirAI</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="https://github.com/PatrykMaternicki/MirAI">Documentation</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <span class="navbar-brand">Screenshots made: <%= date %> <i class="far fa-calendar-alt"></i></span>
          </li>
        </ul>
      </div>
    </nav>
    <div id="app"></div>

    <!-- importing ML5 library into the project -->
    <script src="https://unpkg.com/ml5@0.1.1/dist/ml5.min.js"></script>

    <!-- importing p5 addons library into the project -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.3/p5.js"></script>
    <script>
      // function setup() {
      // canvasObject = createCanvas(640, 480);
      // window.imageObject = loadImage('/images/screenshots/dummy.png');
      // image(window.imageObject,0,0,400,300);

      // //initialize the mobilenet object with a callback
      // // mobileNet= ml5.imageClassifier('MobileNet',ModelLoaded);
      // }

      // function imageReady(img) {
      //     image(img,0,0,400,300);
      // }

      var sketch = function(p) {
        p.setup = function() {
        window.imageObject = p.loadImage('/images/screenshots/0.png');
        p.createCanvas(500, 2800);
        },

        p.draw = function() {
          p.image(window.imageObject,0,0);
        }
      };

      window.p5App = new p5(sketch, 'canvas-container');
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js"></script>
    <script src="/app.min.js"></script>
  </body>
</html>
